<header class="codrops-header">
  <h1>
    Front End Developer<br>

    <span>
      Hi, I’m Hudson Marinho.<br>
      I'm <%= age %> year old and am front-end developer who live in Natal/RN and working for company based in SP.
    </span>
  </h1>

  <nav class="codrops-demos">
    <a href="/" class="current-demo">Home</a>
    <a href="/about-me/">About me</a>
    <a href="/lab/">Lab</a>
    <a href="/blog/">Blog</a>
    <a href="/contact/">Contact</a>
  </nav>
</header>
